body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('./bike.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: rgba(26, 24, 24, 0.815);
    padding: 5px;
    color: #ece7e7;
    border-radius: 4px;
}

/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} */

form {
    width: 60%;
    height: auto;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    display: inline-block;
    width: 96%;
}

li, .listItem {
    width: 100%;
    display: inline-block;
    background-color: rgb(251, 252, 253);
    /* border: solid black 2px; */
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
}

li a {
    display: block;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

TextField {
    margin: 20px;
}

.list-button {
    /* border: solid red 2px; */
    border-radius: 4px;
}

#login-page {
    display: flex;
    justify-content: 'center';
}

#only-header {
    color: '#121416';
    width: 100%;
}

#login-form {
    width: 100%;
}

